.gradient-background{
background-image: radial-gradient( circle 975px at 2.6% 48.3%,  rgba(0,8,120,1) 0%, rgba(95,184,224,1) 99.7% );
background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .Collections-container{

    height: 900px;
    background-color: ;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    background-color:  #f7f7f7;;
    
  }
  .Collections-heading{
    background-color: rgb(239, 235, 235);
  }
  .Collections-heading h2{
    margin-top: 20px;
    padding: 20px;
    font-family:'Noto Serif', serif; ;
    text-align: center;
    font-size: 5em;
    color: #320808;
  }
  .Collections-images{
    display: flex;
    justify-content: space-around;
    height: 300px;
    margin-top: 40px;
      }
    
      
      



    

  
